html {
  height: 100%;
  width: 100%;
}
body{
  margin: 30px;
  background-color:#aef4bc;
  font-size:18px;
}
#punkti{
  width:70px;
  font-size:20px;
}
#izvade{
  color:red;
  padding-left:30px;
}
#atb{
  padding-left:30px;
}
#blakus{
  display:flex;
}
#atb1,#atb2{
  padding-left:30px;
}
.btn-default{
  width:60px;
  text-align:center;
  padding:1px;
}
p{
  font-weight: bold;
}
h4{
  color:#044e09;
  font-style: italic;
}
h3{
  text-shadow: 2px 2px 5px #326237;
}
